$size: 50px; // the original size of the spinner is 100px => this is for normal size

.rs-loader-wrapper {
    position: relative;
    height: 100%;
}

.rs-loader-wrapper .rs-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rs-loader.large {
    width: $size * 2;
    height: $size * 2;
}

.rs-loader.normal {
     width: $size;
     height: $size;
}

.rs-loader.small {
    width: $size / 2;
    height: $size / 2;
}

.rs-loader.xsmall {
    width: $size / 4;
    height: $size / 4;
}