/node_modules
/server
/app
/cli
/index.js
/markdown
/__tests__/app/~rs
/__tests__/public
/__tests__/app/pages
/__tests__app__/dev/dist
/__tests__app__/app/generated*
/__tests__app__/public
/__tests__app__/app/~rs
/__types__

/tmp
/test.ts
/.vscode